Django==3.2.3
django-extra-fields==3.0.2
djangorestframework==3.12.4
django-filter==22.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
Pillow==11.1.0
psycopg2-binary==2.9.10
PyYAML==6.0
gunicorn==20.1.0